/*Contenu pour le site */
html,body {
    min-height: 100vh;
}


/* Partie NavBar */

.bg-main{
    background-color: #f1e7f0;
}

.img-logo{
    width: 140px;
    height: 70px;
    background-color: #f1e7f0;
}

.link-style, .link-style:hover{
    text-decoration: none;
    color: black;
}

.btnShopping{
    float:right;
}

/* Cartes */



/* Produit */

.card {
    border: 1px solid lightgray;
    overflow: hidden
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 400px;
    width: 100%;
    overflow: hidden
}

.content p {
    font-size: 12px
}

.right-side {
    position: relative
}

.btnProduct {
    height: 50px;
    width: 150px;
    border-radius: 0px !important
}

/** Panier **/

.hidden{
    visibility: hidden;
}

.badge {
    right: 13px;
    top: 20px;
    position: absolute;
    padding: 5px 8px;
    border-radius: 50%;
    background: red;
    color: white;
}
