/*Contenu pour le site */
html,body {
    min-height: 100vh;
}


/* Partie NavBar */

.bg-main{
    background-color: #f1e7f0;
}

.img-logo{
    width: 140px;
    height: 70px;
    background-color: #f1e7f0;
}

.link-style, .link-style:hover{
    text-decoration: none;
    color: black;
}

.btnShopping{
    float:right;
}

.badge {
    right: 13px;
    top: 20px;
    position: absolute;
    padding: 5px 8px;
    border-radius: 50%;
    background: red;
    color: white;
}

/* Cartes */



/* Produit */

.productImg{
    width: 250px;
    height: 250px;
}

.cardContainer{
    float:left;
}

.card-img{
    align-self: center;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


.hidden{
    visibility: hidden;
}